<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top"  data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="{{path('app_home')}}">MY E-SHOP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('app_home')}}">Home</a>
        </li>
        

        {% if categories is defined%}
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Catégories
          </a>
         <ul class="dropdown-menu shadow-lg rounded-3 p-2">
          {% for category in categories %}
          <li>
        <a class="dropdown-item d-flex align-items-center gap-2" href="">
            <i class="bi bi-list-ul fs-5 text-primary"></i>
            <span>{{category.name}}</span>
        </a>
        {%for subCategory in category.subCategories%}
    <li>
        <a class="dropdown-item d-flex align-items-center gap-2" href="{{ path('app_home_product_filter', {'id':subCategory.id}) }}">
            <i class="bi bi-tags-fill fs-5 text-success"></i>
            <span>{{subCategory.name}}</span>
        </a>
    </li>
        {%endfor%}
    </li>
        <li><hr class="dropdown-divider"></li>

    
          {% endfor%}
    
</ul>

 </li>

 {%endif%}

        {% if is_granted("ROLE_ADMIN")%}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Administration
          </a>
         <ul class="dropdown-menu shadow-lg rounded-3 p-2">
    <li>
        <a class="dropdown-item d-flex align-items-center gap-2" href="{{ path('app_category') }}">
            <i class="bi bi-list-ul fs-5 text-primary"></i>
            <span>Catégories</span>
        </a>
    </li>
    <li>
        <a class="dropdown-item d-flex align-items-center gap-2" href="{{ path('app_sub_category_index') }}">
            <i class="bi bi-tags-fill fs-5 text-success"></i>
            <span>Sous-catégories</span>
        </a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li>
        <a class="dropdown-item d-flex align-items-center gap-2" href="{{ path('app_product_index') }}">
            <i class="bi bi-box-seam fs-5 text-warning"></i>
            <span>Produits</span>
        </a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li>
        <a class="dropdown-item d-flex align-items-center gap-2" href="{{ path('app_city_index') }}">
            <i class="bi bi-geo-alt fs-5 text-info"></i>
            <span>Villes</span>
        </a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li>
        <a class="dropdown-item d-flex align-items-center gap-2" href="{{ path('app_user') }}">
            <i class="bi bi-people-fill fs-5 text-info"></i>
            <span>Utilisateurs</span>
        </a>
    </li>
</ul>

        </li>
        {% endif%}

      </ul>
{# avant d’afficher le badge #}
{% set cart_count = cart_count|default(0) %}

       <div class="cart position-relative mx-2">
    <a href="{{ path('app_cart') }}" class="cart-link">
        <i class="bi bi-cart"></i>
        {% if cart_count > 0 %}
            <span class="cart-badge">{{ cart_count }}</span>
        {% endif %}
    </a>
</div>



         {% if app.user == false%}
      <div class="gap-3 d-flex">
        <a href="{{path('app_login')}}" class="btn btn-outline-success">Se connecter</a>
        <a href="{{path('app_register')}}" class="btn btn-outline-primary">S'inscrire</a>
      </div>
      {%endif%}
          <!-- Infos produit       -->
          
         {% if app.user == true%}

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
            {%endif%}

            

    </div>
  </div>
</nav>