{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<div class="container">
        <h1 class="text-center mb-3 font-weight-normal">Utilisateurs</h1>
            {% include 'layout/flash_message.html.twig'%}

    <table class="table">
        <tr>
            <th>id</th>
            <th>email</th>
            <th>nom</th>
            <th>prénom</th>
            <th>rôle</th>
            <th>actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id}}</td>
            <td>{{ user.email}}</td>
            <td>{{ user.firstName}}</td>
            <td>{{ user.lastName}}</td>
            <td>
                {% if ('ROLE_ADMIN' in user.roles)%}
             <span class="bg-primary text-white p-1 rounded">Administrateur</span>
                {% elseif ('ROLE_EDITOR' in user.roles)%}
                <span>Editeur</span>
                {% else%}
                <span>Client</span>
                {% endif%}

                
            </td>
            <td class="gap-2"> 
                {% if ('ROLE_ADMIN' in user.roles) == false%}

                {% if ('ROLE_EDITOR' in user.roles) == false%}
                <a onclick="return confirm('voulez-vous vraiment ajouter le rôle éditeur à cet utilisateur ?')" href="{{path('app_user_to_editor', {'id':user.id} )}}" class="btn btn-outline-primary">Ajouter comme editeur</a>
                {% else%}
                <a onclick="return confirm('voulez-vous vraiment retirer le rôle éditeur à cet utilisateur ?')" href="{{path('app_user_remove_editor', {'id':user.id} )}}" class="btn btn-danger">Retirer le rôle editeur</a>
                {% endif%}
                <a onclick="return confirm('voulez-vous vraiment supprimer utilisateur ?')" href="{{path('app_user_delete', {'id':user.id})}}" class="btn btn-danger">supprimer</a>
                {%endif%}
            </td>
        </tr>
        {% endfor%}
    </table>
</div>
{% endblock %}
